<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="public/style.css" >
  </head>

  <body>

    <div id="username-div">
      <p id='username-error'></p>
    </div>
    
    <div id='userdiv'></div>

  
      <div id='mess'>
        <ul id="messages"></ul>
      </div>
 
    

    <form id ='message-form'action="">
      <input id="m" autocomplete="off" />
      <button>Send</button>
    </form>
  


  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="public/chatter.js"></script>
</html>